* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
}

.contenedor {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}

header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

nav {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
}

.enlaces-header {
    font-weight: 300;
    margin: auto;
}

.nav .enlaces-header a {
    color: #5d6678;
    text-decoration: none;
    margin-left: 20px;
    padding: 12px;
    border-radius: 10px;
}

.nav .enlaces-header a:hover {
    color: #fff;
    background-color: #d03d3d;
    border-color: #d03d3d;
    transition: all ease-in-out .5s;
}

.hamburguer {
    width: 80px;
    height: 80px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
    display: none;
}

.hamburguer > i {
    font-size: 25px;
    line-height: 80px;
}

.titulospro {
    text-align: left;
    margin: 20px 0;
}

.contenido-header {
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.contenido-header > img {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    animation: ease-in animacion 0.5s;
}

.textos-header {
    margin: 0 0 0 30px;
}

.contenido-header P {
    font-weight: 300;
    margin-top: 14px;
    color: #5d6678;
    text-align: justify;
}

@keyframes animacion {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

.contenido-header a {
    margin: 28px 0 0 0;
    width: 150px;
    display: inline-block;
    background-color: #d03d3d;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 12px 0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 8px 32px rgba(97, 31, 31, 0.46);
}

/* ################################ EDUCATION ###################################*/

.section-education {
    background-color: #dbdbdb;
}

.section-education .title {
    display: block;
    margin: 15px 0;
    text-align: center;
    text-transform: uppercase;
}

.content-education {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.education {
    width: 45%;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.education i {
    border: 2px solid #d03d3d;
    border-radius: 50%;
    background-color: #d03d3d;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    line-height: 36px;
}

.education a {
    color: gray;
    font-size: 12px;
    text-decoration: none;
}

.education:hover {
    background-color: #d03d3d;
    box-shadow: 0 0 6px gray;
    transition: all ease-in-out .4s;
    color: #fff;
}

.education a:hover{
    color: #fff;
}

/* ################################ FOOTER ###################################*/

footer {
    background: rgb(70, 70, 70);
    padding: 20px 0 /*50 0 20 0 */;
    padding-top: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;

}

.partFooter {
    width: 22%;
    text-align: center;
}

.partFooter img {
    width: 60%;
}

.partFooter h4 {
    
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    background-color: #d03d3d;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid double #d03d3d;
}

.contact {
    margin: 10px;
    display: block;
    text-align:left;
    color: #fff;
}

.contact > i {
    float: left;
    margin-right: 10px;
}

.contact > p {
    font-weight: 500;
}

.partFooter > a {
    color: #fff;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;

}

.partFooter > a:hover {
    background-color: #d03d3d;
    transition: all ease-in-out .4s;

}

.social-media > a > i {
    color: #fff;
    display:inline-block;
    font-size: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out .3s;
    margin-right: 8px;
}

.social-media > a > i:hover {
    background-color: #d03d3d;
}

.partFooter img {
    width: 40%;
}

/* ################################ MEDIA QUERY ###################################*/

@media screen and (max-width:700px){
    .hamburguer{
        display: block;
    }

    .enlaces-header{
        position: fixed;
        background-color: #d03d3d;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0.0% at 0% 0%);
    }

    .nav .enlaces-header a {
        color: #fff;
        background-color: gray;
        text-transform: uppercase;
        font-weight: 800;
        margin-top: 20px;
        width: 50%;
        text-align: center;
    }

    .nav .enlaces-header a:hover{
        color: #d03d3d;
        background-color: #fff;
    }

    .nav .hamburgueropen {
        clip-path: circle(150.0% at 0% 0%);

    }
}
